@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <main role="main" class="pb-3">
        <div class=" box-shadow">
            <div class="container  bg-gray">
                <div class="justify-content-center">
                    <div class=" text-center">
                        <form asp-route-returnUrl="" method="post">
                            <div class="form-group">
                                <div>Wprowadz otrzymane hasło</div>
                                <input />
                            </div>
                            <button type="submit" class="btn btn-primary">Logowanie</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>