@page
@model Modul.Pages.Formularz.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ZalozeniaDlaOferty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.PokazFormularz" class="control-label"></label>
                <input asp-for="ZalozeniaDlaOferty.PokazFormularz" class="form-control" />
                <span asp-validation-for="ZalozeniaDlaOferty.PokazFormularz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.CzyRolnik" class="control-label"></label>
                <input asp-for="ZalozeniaDlaOferty.CzyRolnik" class="form-control" />
                <span asp-validation-for="ZalozeniaDlaOferty.CzyRolnik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.ProgPodatkowy" class="control-label"></label>
                <input asp-for="ZalozeniaDlaOferty.ProgPodatkowy" class="form-control" />
                <span asp-validation-for="ZalozeniaDlaOferty.ProgPodatkowy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.Wojewodztwo" class="control-label"></label>
                <select asp-for="ZalozeniaDlaOferty.Wojewodztwo" class="form-control"></select>
                <span asp-validation-for="ZalozeniaDlaOferty.Wojewodztwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.MiesieczneRachunki" class="control-label"></label>
                <input asp-for="ZalozeniaDlaOferty.MiesieczneRachunki" class="form-control" />
                <span asp-validation-for="ZalozeniaDlaOferty.MiesieczneRachunki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.ZnajomoscRocznychRachunkowiZuzywanaEnergia" class="control-label"></label>
                <input asp-for="ZalozeniaDlaOferty.ZnajomoscRocznychRachunkowiZuzywanaEnergia" class="form-control" />
                <span asp-validation-for="ZalozeniaDlaOferty.ZnajomoscRocznychRachunkowiZuzywanaEnergia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.ImieiNazwiskoKlienta" class="control-label"></label>
                <input asp-for="ZalozeniaDlaOferty.ImieiNazwiskoKlienta" class="form-control" />
                <span asp-validation-for="ZalozeniaDlaOferty.ImieiNazwiskoKlienta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.Paneltechniczny" class="control-label"></label>
                <input asp-for="ZalozeniaDlaOferty.Paneltechniczny" class="form-control" />
                <span asp-validation-for="ZalozeniaDlaOferty.Paneltechniczny" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalozeniaDlaOferty.WycenaNaZyczenie" class="control-label"></label>
                <input asp-for="ZalozeniaDlaOferty.WycenaNaZyczenie" class="form-control" />
                <span asp-validation-for="ZalozeniaDlaOferty.WycenaNaZyczenie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
